{{!< default}}
{{#post}}
<article id="{{comment_id}}" class="{{post_class}}">
	<div class="post-stamp">{{date published_at format='MMMM D, YYYY'}}<span class="taglist">{{tags separator=" " prefix=" &middot; "}}</span>{{#if featured}}<span class="separator"> &middot; </span><i class="fa fa-star-o feature-star"></i>{{/if}}</div>
	<h1 class="post-title">{{title}}</h1>
	{{#if custom_excerpt}}
	<p class="article-excerpt">{{custom_excerpt}}</p>
	{{/if}}
	{{#if feature_image}}
	<figure class="article-image">
			{{!-- This is a responsive image, it loads different sizes depending on device
			https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
			<img
					srcset="{{img_url feature_image size="s"}} 300w,
									{{img_url feature_image size="m"}} 600w,
									{{img_url feature_image size="l"}} 1000w,
									{{img_url feature_image size="xl"}} 2000w"
					sizes="(min-width: 1400px) 1400px, 92vw"
					src="{{img_url feature_image size="xl"}}"
					alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
			/>
			{{#if feature_image_caption}}
					<figcaption>{{feature_image_caption}}</figcaption>
			{{/if}}
	</figure>
	{{/if}}
	{{content}}
	{{> share}}
  {{> comments}}
</article>
{{/post}}
